<div class = 'col-10 pt-4 d-flex flex-column align-items-center justify-contents-center m-5 splash' >
  <h1 class = ' header pb-5 mb-5 pt-5 mt-5' > Money Manager </h1>

  <div class="d-flex flex-column w-50">
    <%= link_to 'Log in', user_session_path , class: 'btn btn-info text-light mt-4' %>
    <%= link_to 'Sign up', new_user_registration_path , class: 'btn btn-light text-dark mt-4' %>
  </div>
  
</div>