/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgba(241, 241, 241, 0.6);
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
}

.splash {
  width: 375px;
  height: 400px;
  border: 1px solid #434b54;
  border-radius: 4px;
}

.navbar {
  background-color: #3778c2;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
  background-color: #3778c2;
  border-color: #3778c2;
}

.home img {
  width: 100px;
  height: 100px;
}
